#progress bar 
tqdm 
#audio analysis 
librosa 
#movie editor 
moviepy
#pytorch 
torch
#transformers
transformers
#sentence transformers
sentence-transformers
#vader sentiment
vaderSentiment
#scipy
scipy==1.1.0
#biggan 
pytorch_pretrained_biggan 
